<!DOCTYPE html>
<html>
  <head>
    <title>Thespoon193</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home', root_path %>
    <!-- <a href="/">Home</a> -->
    <%= link_to 'Contacts', contact_path  %>
    <!-- <a href="/conatact">Contact</a> -->
    <%= link_to 'Restaurants', restaurants_path %>
    <%= yield %>
    <p>Hi I'm a footer!</p>
  </body>
</html>
